<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Zilliz Cloud Developer hub</title>
</head>

<body>
    <div id="app">
        <!--header-->
        <div style="display: flex; flex-direction: row; gap: 2%;">
            <div style="display: block; flex: 20%; cursor: pointer;" @click="this.group=0">
                <div :class="{active_group: group==0, inactive_group: group!=0}">
                    <div style="display: flex; flex-direction: column; row-gap: 0.4em; margin: 1.5em;">
                        <div style="display:block; width: 40px; height: 40px; margin: auto;">
                            <img src="https://assets.zilliz.com/zilli-cloud-101.png">
                        </div>
                        <div style="text-align: center;">
                            <span :class="{active_group_caption: group==0, inactive_group_caption: group!=0}">Zilliz Cloud 101</span>
                        </div>
                        <div style="text-align: center;">
                            <span style="font-size: 0.8em; color: #647489;">A beginner's guide to using Zilliz Cloud for
                                vector databases.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block; flex: 20%; cursor: pointer;" @click="this.group=1">
                <div :class="{active_group: group==1, inactive_group: group!=1}">
                    <div style="display: flex; flex-direction: column; row-gap: 0.4em; margin: 1.5em;">
                        <div style="display:block; width: 40px; height: 40px; margin: auto;">
                            <img src="https://assets.zilliz.com/ai-model-integrations.png">
                        </div>
                        <div style="text-align: center;">
                            <span :class="{active_group_caption: group==1, inactive_group_caption: group!=1}">AI Model Integrations</span>
                        </div>
                        <div style="text-align: center;">
                            <span style="font-size: 0.8em; color: #647489;">Learn how to integrate AI models with Zilliz
                                Cloud vector databases.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block; flex: 20%; cursor: pointer;" @click="this.group=2">
                <div :class="{active_group: group==2, inactive_group: group!=2}">
                    <div style="display: flex; flex-direction: column; row-gap: 0.4em; margin: 1.5em;">
                        <div style="display:block; width: 40px; height: 40px; margin: auto;">
                            <img src="https://assets.zilliz.com/advanced-user-guides.png">
                        </div>
                        <div style="text-align: center;">
                            <span :class="{active_group_caption: group==2, inactive_group_caption: group!=2}">Advanced User Guides</span>
                        </div>
                        <div style="text-align: center;">
                            <span style="font-size: 0.8em; color: #647489;">In-depth guides for advanced Zilliz Cloud
                                vector
                                database users.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: block; flex: 20%; cursor: pointer;" @click="this.group=3">
                <div :class="{active_group: group==3, inactive_group: group!=3}">
                    <div style="display: flex; flex-direction: column; row-gap: 0.4em; margin: 1.5em;">
                        <div style="display:block; width: 40px; height: 40px; margin: auto;">
                            <img src="https://assets.zilliz.com/migration-from-milvus.png">
                        </div>
                        <div style="text-align: center;">
                            <span :class="{active_group_caption: group==3, inactive_group_caption: group!=3}">Migration from Milvus</span>
                        </div>
                        <div style="text-align: center;">
                            <span style="font-size: 0.8em; color: #647489;">Find out how to migrate data from
                                self-hosted
                                Milvus clusters to Zilliz Cloud.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header ends-->
        <!--content-->
        <div style="display: flex; flex-direction: column; row-gap: 3em; margin-top: 3em">
            <!--Quick Start-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/quick-start.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Quick Start</span>
                            <span style="font-size: 0.8em;">Learn the basic vector database APIs in 5 minutes.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Quick Start</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Register with Zilliz Cloud</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Free Trials</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Quick Start ends-->
            <!--Serverless Cluster 101-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/serverless-cluster-101.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Serverless Cluster 101</span>
                            <span style="font-size: 0.8em;">An ordered guide for serverless cluster beginners</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>01 Create First Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>02 Example Dataset</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>03 Connect to Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>04 Create First Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>05 Manage Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>06 Insert Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>07 Search and Query</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>08 Delete Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>09 Other Operations</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Serverless cluster 101 ends-->
            <!--Dedicated cluster 101-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/dedicated-cluster-101.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Dedicated Cluster 101</span>
                            <span style="font-size: 0.8em;">An ordered guide for dedicated cluster beginners</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>01 Create First Project</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>02 Add Project Collaborator</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>03 Create First Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>04 Example Dataset</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>05 Connect to Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>06 Create First Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>07 Manage Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>08 Manage Index</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>09 Insert Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>10 Search and Query</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>11 Delete Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>12 Other Operations</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Dedicated cluster 101 ends-->
            <!--Concepts-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/concepts.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Concepts</span>
                            <span style="font-size: 0.8em;">Things you might want to know more about Zilliz Cloud</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>AUTOINDEX Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>CU Types Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Cluster, Collection, and Entity</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>ANN Search Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Data Models Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Cluster Types Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>JSON: A New Data Type</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Cloud Providers and Regions</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--concepts ends-->
            <!--Resource Planning-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/resource-planning.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Resource Planning</span>
                            <span style="font-size: 0.8em;">Help you gain a cost-effective balance on Zilliz
                                Cloud.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Pricing Calculator</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--resource planning ends-->
            <!--Vector Database 101-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==0">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/vector-database-101.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Vector Database 101</span>
                            <span style="font-size: 0.8em;">Further readings about embedding, ANN search, index
                                algorithms,
                                etc.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Introduction to Unstructured Data</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>What is a Vector Database?</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Introduction to Vector Similarity Search</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Vector Index Basics and the Inverted File Index</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Scalar Quantization and Product Quantization</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Hierarchical Navigable Small World (HNSW)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--vector database 101 ends-->
            <!--Open Service starts-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==1">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/open-service.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Open Services</span>
                            <span style="font-size: 0.8em;">Open services for the integration with Zilliz Cloud</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Similarity Search with Zilliz Cloud and OpenAI</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Question Answering Using Zilliz Cloud and HuggingFace</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Introduction to Vector Similarity Search</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Open Service ends-->
            <!--opensource project starts-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==1">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/open-source-projects.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Open-source Projects</span>
                            <span style="font-size: 0.8em;">Open-source projects for the integration with Zilliz
                                Cloud</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Question Answering over Documents with Zilliz Cloud and LangChain</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Image Search with Zilliz Cloud and PyTorch</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Documentation QA using Zilliz Cloud and LlamaIndex</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 45%;">
                                <span>Movie Search Using Zilliz Cloud and SentenceTransformers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--opensource project ends-->
            <!--Get started starts-->
            <div style="display: flex; flex-direction: row; gap: 2%"  v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/quick-start.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Get Started</span>
                            <span style="font-size: 0.8em;">Learn basic operations and APIs of Zilliz Cloud</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>01 Create First Project</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>02 Add Project Collaborators</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>03 Create First Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>04 Example Dataset</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>05 Connect to Cluster</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>06 Create First Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>07 Manage Collection</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>08 Manage Index</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>09 Insert Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>10 Search and Query</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>11 Delete Entities</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>12 Use Dynamic Schema</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>13 Other Operations</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Get started ends-->
            <!--Connection and acess control starts-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/conn-and-acl.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Connection and Access Control</span>
                            <span style="font-size: 0.8em;">Learn how to implement protected connections and access
                                control.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Manage API Keys</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Manage Cluster Credentials</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Set up a Whitelist</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Set up a Private Link</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Connection and acess control ends-->
            <!--Backup and restore-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/backup-and-restore.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Backup and Restore</span>
                            <span style="font-size: 0.8em;">Learn about backup and restore operations.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Create a Snapshot</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Schedule Automatic Backups</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>View Snapshot Details</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Restore from Snapshot</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Delete Snapshot</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Backup and restore ends-->
            <!--users and roles start-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/users-and-roles.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Users & Roles</span>
                            <span style="font-size: 0.8em;">Learn how to implement role-based access control.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Organization and Projects</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Roles & Privileges</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Add Organization Members</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Remove Members</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Add Project Collaborators</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--users and roles ends-->
            <!--monitors and metrics-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/monitors-and-metrics.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Monitors & Metrics</span>
                            <span style="font-size: 0.8em;">Learn about system monitors and metrics.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>CU Resource Monitor</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>QPS Resource Monitor</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Query Latency Monitor</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Load Capacity Resource Monitor</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Credit Card Expiration Monitor</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>View Cluster Metrics</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--monitors and metrics ends-->
            <!--payment and billing-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/monitors-and-metrics.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Payment & Billing</span>
                            <span style="font-size: 0.8em;">Learn everything about payment and billing on Zilliz
                                Cloud.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Subscribe on AWS Marketplace</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Subscribe by Adding Credit Card</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Edit Payment Method</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>View Invoice</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--payment and billing ends-->
            <!--system settings-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==2">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/system-settings.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">System Settings</span>
                            <span style="font-size: 0.8em;">Learn about system settings on Zilliz Cloud.</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Manage Timezone</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Set up Maintenance Window</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--system settings end-->
            <!--migration guides-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==3">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/migration-guides.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Migration Guides</span>
                            <span style="font-size: 0.8em;">Learn how to migrate your data to Zilliz Cloud</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Migrate from Milvus 1.x</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>Migrate from Milvus 2.x</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--migration guides start-->
            <!--vs starts-->
            <div style="display: flex; flex-direction: row; gap: 2%" v-if="group==3">
                <div style="display: block; flex: 18%">
                    <div style="display: flex; flex-direction: row; gap: 0.5em">
                        <img src="https://assets.zilliz.com/zilliz-cloud-vs-milvus.png" style="align-self: center;">
                        <div style="display: flex; flex-direction: column;">
                            <span style="font-size: 1.5em; font-weight: bold;">Zilliz Cloud v.s. Milvus</span>
                            <span style="font-size: 0.8em;">Learn the differences in terms of specifications between
                                Zilliz Cloud and Milvus</span>
                        </div>
                    </div>
                </div>
                <div style="display: block; flex: 75%">
                    <div
                        style="background-color: #F6F8FA; border: 1px solid #E0E3E7; border-radius: 8px; padding: 1.5em 3em;">
                        <div style="display: flex; flex-flow: row wrap; gap: 2%">
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>AUTOINDEX Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span>CU Types Explained</span>
                            </div>
                            <div style="display: block; line-height: 32px; flex: 25%;">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--vs ends-->
        </div>
        <!--content ends-->
    </div>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue

    createApp({
        data() {
            return {
                group: 0
            }
        }
    }).mount('#app')
</script>

</html>