body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.active_group {
    border: 2px solid #3670F2; 
    border-radius: 8px; 
    min-height: 12em;
}

.active_group_caption {
    font-size: 1.2em; 
    color: #3670F2;
}

.inactive_group {
    border: 2px solid #E0E3E7; 
    border-radius: 8px; 
    min-height: 12em;
}

.inactive_group_caption {
    font-size: 1.2em; 
    color: #000000
}
